<div id="message_area">
	<h2>Welcome <%= username %></h2>

	<h2>Chat messages</h2>
	<div>
		<div id="messagesContainer" ng-controller="MsgList">
			<ul id="msg_list">
				<li ng-repeat="msg in messages"><b>{{msg.username}}:</b> {{msg.message}}</li>
			</ul>
		</div>
		
		<div id="newMessageForm" ng-controller="Messages">
		    <textarea id="message" ng-model="message" placeholder="Enter your message here:"></textarea>
		    <br/>
		    <button id="postMessageButton" ng-click="addMsg()">Add Message</button>
		</div>
		<span id="username"><%= username %></span>
	
	</div>


<script src="/js/angular-code.js"></script>
<script src="/js/socket-code.js"></script>