#message{
	width:500px;
	height:200px;
}
#message_area{
	width: 510px;
}
li {
list-style: none;
}
#postMessageButton{
	float:right;
}
#username{
	display: none;
}
#messagesContainer {
	height: 300px;
	position: relative;
	overflow: scroll;
}
#errors{
	color: red;
}